/image
/models
/ttf_store/AGENCYB.TTF
/ttf_store/AGENCYR.TTF
/ttf_store/ALGER.TTF
/ttf_store/ANTQUAB.TTF
/ttf_store/ANTQUABI.TTF
/ttf_store/ANTQUAI.TTF
/ttf_store/arial.ttf
/ttf_store/arialbd.ttf
/ttf_store/arialbi.ttf
/ttf_store/ariali.ttf
/ttf_store/ARIALN.TTF
/ttf_store/ARIALNB.TTF
/ttf_store/ARIALNBI.TTF
/ttf_store/ARIALNI.TTF
/ttf_store/ariblk.ttf
/ttf_store/ARLRDBD.TTF
/ttf_store/bahnschrift.ttf
/ttf_store/BASKVILL.TTF
/ttf_store/BAUHS93.TTF
/ttf_store/BELL.TTF
/ttf_store/BELLB.TTF
/ttf_store/BELLI.TTF
/ttf_store/BERNHC.TTF
/ttf_store/BKANT.TTF
/ttf_store/BOD_B.TTF
/ttf_store/BOD_BI.TTF
/ttf_store/BOD_BLAI.TTF
/ttf_store/BOD_BLAR.TTF
/ttf_store/BOD_CB.TTF
/ttf_store/BOD_CBI.TTF
/ttf_store/BOD_CI.TTF
/ttf_store/BOD_CR.TTF
/ttf_store/BOD_I.TTF
/ttf_store/BOD_PSTC.TTF
/ttf_store/BOD_R.TTF
/ttf_store/BOOKOS.TTF
/ttf_store/BOOKOSB.TTF
/ttf_store/BOOKOSBI.TTF
/ttf_store/BOOKOSI.TTF
/ttf_store/BRADHITC.TTF
/ttf_store/BRITANIC.TTF
/ttf_store/BRLNSB.TTF
/ttf_store/BRLNSDB.TTF
/ttf_store/BRLNSR.TTF
/ttf_store/BROADW.TTF
/ttf_store/BRUSHSCI.TTF
/ttf_store/BSSYM7.TTF
/ttf_store/calibri.ttf
/ttf_store/calibrib.ttf
/ttf_store/calibrii.ttf
/ttf_store/calibril.ttf
/ttf_store/calibrili.ttf
/ttf_store/calibriz.ttf
/ttf_store/CALIFB.TTF
/ttf_store/CALIFI.TTF
/ttf_store/CALIFR.TTF
/ttf_store/CALIST.TTF
/ttf_store/CALISTB.TTF
/ttf_store/CALISTBI.TTF
/ttf_store/CALISTI.TTF
/ttf_store/cambria.ttc
/ttf_store/cambriab.ttf
/ttf_store/cambriai.ttf
/ttf_store/cambriaz.ttf
/ttf_store/Candara.ttf
/ttf_store/Candarab.ttf
/ttf_store/Candarai.ttf
/ttf_store/Candaral.ttf
/ttf_store/Candarali.ttf
/ttf_store/Candaraz.ttf
/ttf_store/CascadiaCode.ttf
/ttf_store/CascadiaMono.ttf
/ttf_store/CASTELAR.TTF
/ttf_store/CENSCBK.TTF
/ttf_store/CENTAUR.TTF
/ttf_store/CENTURY.TTF
/ttf_store/CHILLER.TTF
/ttf_store/COLONNA.TTF
/ttf_store/comic.ttf
/ttf_store/comicbd.ttf
/ttf_store/comici.ttf
/ttf_store/comicz.ttf
/ttf_store/consola.ttf
/ttf_store/consolab.ttf
/ttf_store/consolai.ttf
/ttf_store/consolaz.ttf
/ttf_store/constan.ttf
/ttf_store/constanb.ttf
/ttf_store/constani.ttf
/ttf_store/constanz.ttf
/ttf_store/COOPBL.TTF
/ttf_store/COPRGTB.TTF
/ttf_store/COPRGTL.TTF
/ttf_store/corbel.ttf
/ttf_store/corbelb.ttf
/ttf_store/corbeli.ttf
/ttf_store/corbell.ttf
/ttf_store/corbelli.ttf
/ttf_store/corbelz.ttf
/ttf_store/cour.ttf
/ttf_store/courbd.ttf
/ttf_store/courbi.ttf
/ttf_store/coure.fon
/ttf_store/couri.ttf
/ttf_store/CURLZ___.TTF
/ttf_store/DejaVuMathTeXGyre.ttf
/ttf_store/Deng.ttf
/ttf_store/Dengb.ttf
/ttf_store/Dengl.ttf
/ttf_store/DUBAI-BOLD.TTF
/ttf_store/DUBAI-LIGHT.TTF
/ttf_store/DUBAI-MEDIUM.TTF
/ttf_store/DUBAI-REGULAR.TTF
/ttf_store/ebrima.ttf
/ttf_store/ebrimabd.ttf
/ttf_store/ELEPHNT.TTF
/ttf_store/ELEPHNTI.TTF
/ttf_store/ENGR.TTF
/ttf_store/ERASBD.TTF
/ttf_store/ERASDEMI.TTF
/ttf_store/ERASLGHT.TTF
/ttf_store/ERASMD.TTF
/ttf_store/FELIXTI.TTF
/ttf_store/FORTE.TTF
/ttf_store/FRABK.TTF
/ttf_store/FRABKIT.TTF
/ttf_store/FRADM.TTF
/ttf_store/FRADMCN.TTF
/ttf_store/FRADMIT.TTF
/ttf_store/FRAHV.TTF
/ttf_store/FRAHVIT.TTF
/ttf_store/framd.ttf
/ttf_store/FRAMDCN.TTF
/ttf_store/framdit.ttf
/ttf_store/FREESCPT.TTF
/ttf_store/FRSCRIPT.TTF
/ttf_store/FTLTLT.TTF
/ttf_store/FZSTK.TTF
/ttf_store/FZYTK.TTF
/ttf_store/Gabriola.ttf
/ttf_store/gadugi.ttf
/ttf_store/gadugib.ttf
/ttf_store/GARA.TTF
/ttf_store/GARABD.TTF
/ttf_store/GARAIT.TTF
/ttf_store/georgia.ttf
/ttf_store/georgiab.ttf
/ttf_store/georgiai.ttf
/ttf_store/georgiaz.ttf
/ttf_store/GIGI.TTF
/ttf_store/GIL_____.TTF
/ttf_store/GILB____.TTF
/ttf_store/GILBI___.TTF
/ttf_store/GILC____.TTF
/ttf_store/GILI____.TTF
/ttf_store/GILLUBCD.TTF
/ttf_store/GILSANUB.TTF
/ttf_store/GLECB.TTF
/ttf_store/GLSNECB.TTF
/ttf_store/GOTHIC.TTF
/ttf_store/GOTHICB.TTF
/ttf_store/GOTHICBI.TTF
/ttf_store/GOTHICI.TTF
/ttf_store/GOUDOS.TTF
/ttf_store/GOUDOSB.TTF
/ttf_store/GOUDOSI.TTF
/ttf_store/GOUDYSTO.TTF
/ttf_store/HARLOWSI.TTF
/ttf_store/HARNGTON.TTF
/ttf_store/HATTEN.TTF
/ttf_store/himalaya.ttf
/ttf_store/holomdl2.ttf
/ttf_store/HTOWERT.TTF
/ttf_store/HTOWERTI.TTF
/ttf_store/HYZhongHeiTi-197.ttf
/ttf_store/impact.ttf
/ttf_store/IMPRISHA.TTF
/ttf_store/INFROMAN.TTF
/ttf_store/Inkfree.ttf
/ttf_store/ITCBLKAD.TTF
/ttf_store/ITCEDSCR.TTF
/ttf_store/ITCKRIST.TTF
/ttf_store/javatext.ttf
/ttf_store/JOKERMAN.TTF
/ttf_store/JUICE___.TTF
/ttf_store/KUNSTLER.TTF
/ttf_store/l_10646.ttf
/ttf_store/LATINWD.TTF
/ttf_store/LBRITE.TTF
/ttf_store/LBRITED.TTF
/ttf_store/LBRITEDI.TTF
/ttf_store/LBRITEI.TTF
/ttf_store/LCALLIG.TTF
/ttf_store/LeelaUIb.ttf
/ttf_store/LeelawUI.ttf
/ttf_store/LeelUIsl.ttf
/ttf_store/LFAX.TTF
/ttf_store/LFAXD.TTF
/ttf_store/LFAXDI.TTF
/ttf_store/LFAXI.TTF
/ttf_store/LHANDW.TTF
/ttf_store/LSANS.TTF
/ttf_store/LSANSD.TTF
/ttf_store/LSANSDI.TTF
/ttf_store/LSANSI.TTF
/ttf_store/LTYPE.TTF
/ttf_store/LTYPEB.TTF
/ttf_store/LTYPEBO.TTF
/ttf_store/LTYPEO.TTF
/ttf_store/lucon.ttf
/ttf_store/MAGNETOB.TTF
/ttf_store/MAIAN.TTF
/ttf_store/malgun.ttf
/ttf_store/malgunbd.ttf
/ttf_store/malgunsl.ttf
/ttf_store/MATURASC.TTF
/ttf_store/micross.ttf
/ttf_store/mingliub.ttc
/ttf_store/MISTRAL.TTF
/ttf_store/mmrtext.ttf
/ttf_store/mmrtextb.ttf
/ttf_store/MOD20.TTF
/ttf_store/modern.fon
/ttf_store/monbaiti.ttf
/ttf_store/msgothic.ttc
/ttf_store/msjh.ttc
/ttf_store/msjhbd.ttc
/ttf_store/msjhl.ttc
/ttf_store/msyh.ttc
/ttf_store/msyhbd.ttc
/ttf_store/msyhl.ttc
/ttf_store/msyi.ttf
/ttf_store/MTCORSVA.TTF
/ttf_store/mtextra.ttf
/ttf_store/mvboli.ttf
/ttf_store/NIAGENG.TTF
/ttf_store/NIAGSOL.TTF
/ttf_store/Nirmala.ttf
/ttf_store/NirmalaB.ttf
/ttf_store/NirmalaS.ttf
/ttf_store/ntailu.ttf
/ttf_store/ntailub.ttf
/ttf_store/OCRAEXT.TTF
/ttf_store/OLDENGL.TTF
/ttf_store/ONYX.TTF
/ttf_store/OUTLOOK.TTF
/ttf_store/pala.ttf
/ttf_store/palab.ttf
/ttf_store/palabi.ttf
/ttf_store/palai.ttf
/ttf_store/PALSCRI.TTF
/ttf_store/PAPYRUS.TTF
/ttf_store/PARCHM.TTF
/ttf_store/PER_____.TTF
/ttf_store/PERB____.TTF
/ttf_store/PERBI___.TTF
/ttf_store/PERI____.TTF
/ttf_store/PERTIBD.TTF
/ttf_store/PERTILI.TTF
/ttf_store/phagspa.ttf
/ttf_store/phagspab.ttf
/ttf_store/PLAYBILL.TTF
/ttf_store/POORICH.TTF
/ttf_store/PRISTINA.TTF
/ttf_store/RAGE.TTF
/ttf_store/RAVIE.TTF
/ttf_store/REFSAN.TTF
/ttf_store/REFSPCL.TTF
/code/result.jpg
/ttf_store/ROCC____.TTF
/ttf_store/ROCCB___.TTF
/ttf_store/ROCK.TTF
/ttf_store/ROCKB.TTF
/ttf_store/ROCKBI.TTF
/ttf_store/ROCKEB.TTF
/ttf_store/ROCKI.TTF
/ttf_store/ROGFonts-Regular.otf
/ttf_store/roman.fon
/ttf_store/s8514fix.fon
/ttf_store/s8514oem.fon
/ttf_store/s8514sys.fon
/ttf_store/SansSerifCollection.ttf
/ttf_store/SCHLBKB.TTF
/ttf_store/SCHLBKBI.TTF
/ttf_store/SCHLBKI.TTF
/ttf_store/script.fon
/ttf_store/SCRIPTBL.TTF
/ttf_store/segmdl2.ttf
/ttf_store/SegoeIcons.ttf
/ttf_store/segoepr.ttf
/ttf_store/segoeprb.ttf
/ttf_store/segoesc.ttf
/ttf_store/segoescb.ttf
/ttf_store/segoeui.ttf
/ttf_store/segoeuib.ttf
/ttf_store/segoeuii.ttf
/ttf_store/segoeuil.ttf
/ttf_store/segoeuisl.ttf
/ttf_store/segoeuiz.ttf
/ttf_store/seguibl.ttf
/ttf_store/seguibli.ttf
/ttf_store/seguiemj.ttf
/ttf_store/seguihis.ttf
/ttf_store/seguili.ttf
/ttf_store/seguisb.ttf
/ttf_store/seguisbi.ttf
/ttf_store/seguisli.ttf
/ttf_store/seguisym.ttf
/ttf_store/SegUIVar.ttf
/ttf_store/serife.fon
/ttf_store/SHOWG.TTF
/ttf_store/simfang.ttf
/ttf_store/simhei.ttf
/ttf_store/simkai.ttf
/ttf_store/SIMLI.TTF
/ttf_store/simsun.ttc
/ttf_store/simsunb.ttf
/ttf_store/SIMYOU.TTF
/ttf_store/SitkaVF.ttf
/ttf_store/SitkaVF-Italic.ttf
/ttf_store/smalle.fon
/ttf_store/SNAP____.TTF
/ttf_store/SourceCodePro-Black.ttf
/ttf_store/SourceCodePro-Bold.ttf
/ttf_store/SourceCodePro-ExtraLight.ttf
/ttf_store/SourceCodePro-Light.ttf
/ttf_store/SourceCodePro-Regular.ttf
/ttf_store/SourceCodePro-Semibold.ttf
/ttf_store/sserife.fon
/ttf_store/STCAIYUN.TTF
/ttf_store/STENCIL.TTF
/ttf_store/STFANGSO.TTF
/ttf_store/STHUPO.TTF
/ttf_store/STKAITI.TTF
/ttf_store/STLITI.TTF
/ttf_store/STSONG.TTF
/ttf_store/STXIHEI.TTF
/ttf_store/STXINGKA.TTF
/ttf_store/STXINWEI.TTF
/ttf_store/STZHONGS.TTF
/ttf_store/sylfaen.ttf
/ttf_store/symbol.ttf
/ttf_store/tahoma.ttf
/ttf_store/tahomabd.ttf
/ttf_store/taile.ttf
/ttf_store/taileb.ttf
/ttf_store/TCB_____.TTF
/ttf_store/TCBI____.TTF
/ttf_store/TCCB____.TTF
/ttf_store/TCCEB.TTF
/ttf_store/TCCM____.TTF
/ttf_store/TCM_____.TTF
/ttf_store/TCMI____.TTF
/ttf_store/TEMPSITC.TTF
/ttf_store/times.ttf
/ttf_store/timesbd.ttf
/ttf_store/timesbi.ttf
/ttf_store/timesi.ttf
/ttf_store/trebuc.ttf
/ttf_store/trebucbd.ttf
/ttf_store/trebucbi.ttf
/ttf_store/trebucit.ttf
/ttf_store/verdana.ttf
/ttf_store/verdanab.ttf
/ttf_store/verdanai.ttf
/ttf_store/verdanaz.ttf
/ttf_store/VINERITC.TTF
/ttf_store/VIVALDII.TTF
/ttf_store/VLADIMIR.TTF
/ttf_store/webdings.ttf
/ttf_store/wingding.ttf
/ttf_store/WINGDNG2.TTF
/ttf_store/WINGDNG3.TTF
/ttf_store/YuGothB.ttc
/ttf_store/YuGothL.ttc
/ttf_store/YuGothM.ttc
/ttf_store/YuGothR.ttc
/ttf_store/江西拙楷2.0.ttf
/code/NLP.py
